@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    @apply bg-[#1A1A1F] text-white relative font-sans h-screen;
    max-width: 100%;
    overflow-x: hidden
  }
  img, video {
    @apply max-w-full h-auto;
  }
}