@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    max-width: 100%;
    overflow-x: hidden;
    @apply bg-[#1A1A1F] text-white relative font-sans h-screen overflow-x-hidden;
  }
}